<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="main-header">
        <div class="header-container">
            <a href="/" class="logito"><img class="logo" width="50%" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre"></a>
            <div class="barrita"><input class="inputi" type="text" width="50%" placeholder="Buscar productos, marcas y más…" name="search">
                <form action="/" method="get">
                <button type="submit"><i class="fa fa-search"></i></button></div>
                </form>
                <P class="headertext"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </P>
            </div>
<div class="navi">
    <nav class="nav">
            <ul class="navi">
                <li><a href="mercadoliebre.com/ofertas">Ofertas</a> </li>
                <li><a href="mercadoliebre.com/tiendas">Tiendas oficiales</a></li>
                <li><a href="mercadoliebre.com/vender">Vender</a></li>
                <li><a href="mercadoliebre.com/ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="navi">
                <li><a href="/register">Creá tu cuenta</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="/login">Ingresá</a> <i class="far fa-user-circle"></i></i></li>
                <li><a href="mercadoliebre.com/ofertas">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main class="loginmain">
        <div class="register">
        <h2>Registro de Usuario</h2>
        <form action="/" method="get">
            <p>
            <label>Nombre de usuario:</label>
            <input type="text" name="user" required>
          </p>
         
          <p>
            <label>Contraseña de acceso:</label>
            <input type="password" name="password" required>
          </p>
    
        <input class="btn" type="submit" value="ENVIAR"> </input>
        
          </p>
        </form>
    </main>
</div>
    <footer>
<div class="footer">
        <ul>
            <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer">
                <i class="fas fa-truck"></i>
                <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
        </ul>
    </footer>
    <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</body>

</html>