<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="main-header">
        <div class="header-container">
            <a href="/" class="logito"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre"></a>
            <div class="barrita"><input class="inputi" type="text" placeholder="Buscar productos, marcas y más…" name="search">
                <form action="/" method="get">
                <button type="submit"><i class="fa fa-search"></i></button></div>
                </form>
                <P class="headertext"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </P>
            </div>
<div class="navi">
    <nav class="nav">
            <ul class="navi">
                <li><a href="mercadoliebre.com/ofertas">Ofertas</a> </li>
                <li><a href="mercadoliebre.com/tiendas">Tiendas oficiales</a></li>
                <li><a href="mercadoliebre.com/vender">Vender</a></li>
                <li><a href="mercadoliebre.com/ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="navi">
                <li><a href="/register">Creá tu cuenta</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="/login">Ingresá</a> <i class="far fa-user-circle"></i></i></li>
                <li><a href="mercadoliebre.com/ofertas">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <div class="register">
        <h2>Registro de Usuario</h2>
        <form class="formu" action="/" method="get">
        <p>
            <label>Nombre y apellido:</label>
            <input type="text" name="nombre" required>
          </p>
          <p>
            <label>Nombre de usuario:</label>
            <input type="text" name="user" required>
          </p>
          <p>
            <label>E-mail:</label>
            <input type="email" name="email" required>
          </p>
          <p>
    <label for="nacimiento">Fecha de nacimiento:</label>
  <input type="date" id="nacimiento" name="nacimiento">
</p>
<p>
    <label>Domicilio:</label>
    <input type="textarea" name="direccion" required>
  </p>
  <p>
  <label for="perfil"> Perfil del usuario: </label>
  <label></label> <input type="radio" name="perfil" value="Vendedor"> Vendedor </label>
  <label> <input type="radio" name="perfil" value="Comprador"> Comprador </label>
  </p>
          <p>
            <label>Contraseña:</label>
            <input type="password" name="password" required>
          </p>
          <p>
            <label>Confirmar contraseña:</label>
            <input type="password" name="password" required>
          </p>
          <label for="interes"> Categoría de interés: </label>
   <label><input type="checkbox" name="interes" value="electro"> Electro </label>
   <label> <input type="checkbox" name="interes" value="moda"> Moda </label>
    <label> <input type="checkbox" name="interes" value="hogar">Hogar</label>
    <label> <input type="checkbox" name="interes" value="jugueteria">Juguetería</label>
    <label> <input type="checkbox" name="interes" value="vida">Vida sana</label>
          <p>
        <input type="submit" value="ENVIAR"> </input>
        <input type="reset" value="BORRAR"> </input>
        
          </p>
        </form>
    </main>
</div>
    <footer>
<div class="footer">
        <ul>
            <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer">
                <i class="fas fa-truck"></i>
                <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
        </ul>
    </footer>
    <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</body>

</html>